PROJECT_NAME="dmitryefremov-site"
PROJECT_SLUG=dmitryefremov-site
GITHUB_REPOSITORY=dmitryefremov-site
LINEAR_PROJECT_KEY=DMITRYEFREMOV_SITE
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
